*{
    box-sizing: border-box;
}
body{
    background-image: url(./hinh-nen-tet-dep-3-1024x525.jpg);
}
.heading{
    padding-top: 20px;
}
.content{
    display: flex;
}
.img_content{
    width: 50%;
    height: 50%;
    object-fit: cover;
    margin-right: 50px;
    border-radius: 5px;
}
.info_content{
    font-size: 30px;
}
.info_content *:hover{
    transition:0.2s;
    transform: translateY(-2px);
}
.info_mail{
    display: block;
}